# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/
shopenv/

# Django
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

db.sqlite3